<section class="searchPage">
  <div class="searchPageChild">
    <div class="row">
      <div>
        <img src="assets/img/logo.png" class="img-responsive" id="logo" alt=""/>
      </div>
    </div>
    <div class="row">
      <search-bar></search-bar>
    </div>
    <div class="row">
      <div class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-heading">Search Analysis Result</div>
	  <div class="panel-body">
	    <analysis-search></analysis-search>
	  </div>
	</div>
      </div>      
    </div>
  </div>
</section>
