<h1>
  {{ data?.name }} ({{data?.status ?  'done' : 'running' }})
</h1>
<div *ngIf="data?.results">
  <div>
    <pathway-histogram [pathwayScores]="data.results.pathway"></pathway-histogram>
  </div>
  <div>
    <ngx-datatable
       class="material"
       [rows]="tableData"
       [columnMode]="'flex'"
       [rowHeight]="'auto'"
       [columns]="columns"
       [sorts]="[{prop: 'score', dir: 'desc'}]">
      <ngx-datatable-column [flexGrow]="1">
	<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
	  <i (click)="openPathwayDialog(row['name'])"
	     class="fa fa-lg fa-line-chart fa-border fa-pull-left">
	  </i>
	  <i (click)="openReactionDialog(row['name'])"
	     class="fa fa-lg fa-table fa-border fa-pull-left">
	  </i>
	</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" [flexGrow]="3" >
	<ng-template let-value="value" ngx-datatable-cell-template>
	  <a [routerLink]="['/', 'subsystem', 'detail', value]" target="_blank">
	    <strong>{{value}}</strong>
	  </a>
	</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Score" [flexGrow]="3">
	<ng-template let-value="value" ngx-datatable-cell-template>
	  {{value}}
	</ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
