<div id="mainBox">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <img src="assets/img/user.png">
    <div class="form-group">
      <input class="form-control" placeholder="Email" type="email" formControlName="Email">
      <span class="text-danger" *ngIf="!form.controls['Email'].valid && form.controls['Email'].dirty">
        Field Required
      </span>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Password" type="password" formControlName="Password">
      <span class="text-danger" *ngIf="!form.controls['Password'].valid && form.controls['Password'].dirty">
        Field Required
      </span>
    </div>
    <input value="Login" type="submit" class="btn btn-info">
    <br>
    <a [routerLink]="['/signup']">Sign Up</a>
  </form>
</div>
