<table class="table">
  <thead>
    <tr>
      <th>
        Solution
      </th>
      <th>
        Active
      </th>
    </tr>
  </thead>
  <tbody>
    <template ngFor let-s [ngForOf]="rows">
      <tr (click)="rowOnclick(s)" [hidden]="!s.active">
        <th>{{ s.name }}</th>
        <th>{{ s.subsystems | json }}</th>
      </tr>
      <tr *ngIf="s.name == activeVisualization">
        <th>
        </th>
        <th>
          <div class="row">
            <div class="col-md-12">
              <all-network-visualization [inactiveSubsystems]="inactiveSubsystems"></all-network-visualization>
            </div>
          </div>
        </th>
      </tr>
    </template>

  </tbody>
</table>
