<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">Change Password</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

      <div class="form-group">
        <label for="Password" class="control-label">Old Password</label>
        <input class="form-control" placeholder="Old Password" type="password" formControlName="oldPassword">
        <span class="text-danger" *ngIf="!form.controls['oldPassword'].valid && form.controls['oldPassword'].dirty">
            Password needs to be at least 6 characters.
          </span>
      </div>
      <div class="form-group">
        <label for="Password" class="control-label">New Password</label>
        <input class="form-control" placeholder="New Password" type="password" formControlName="newPassword">
        <span class="text-danger" *ngIf="!form.controls['newPassword'].valid && form.controls['newPassword'].dirty">
          Password needs to be at least 6 characters.
        </span>
      </div>
      <div class="form-group">
        <label for="ConfirmPassword" class="control-label">Confirm Password</label>
        <input class="form-control" placeholder="Confirm Password" type="password" formControlName="confirmPassword">
        <span class="text-danger" *ngIf="form.hasError('mismatchedPasswords')">
          Passwords do not match
        </span>
      </div>
      <input value="Change Password" type="submit" class="btn btn-info" [disabled]="!form.valid">
    </form>
  </div>
</div>
<hr>
