<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default visulazition">
        <div class="panel-heading">
          <h3 class="panel-title">Visulazition</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <fullscreenable-svg (window:resize)="onResize()" [(isFullScreen)]="isFullScreen">

                <svg:path class="link highlight-link"
                  *ngFor="let l of filterHighlightLink(links)"
                  [attr.d]="diagonal(l)"/>

                <svg:circle class="highlight"
                  *ngFor="let d of filterHighlight(nodes)"
                  [attr.cx]="d.x"
                  [attr.cy]="d.y"/>

                <svg:path class="link"
                  *ngFor="let l of links"
                  [style.stroke]="linkColor(l.target)"
                  [attr.d]="diagonal(l)"/>

                <svg:circle class="node"
                  *ngFor="let d of nodes"
                  [style.stroke]="nodeColor(d)"
                  [attr.cx]="d.x"
                  [attr.cy]="d.y"/>

                <svg:text class="text" y="100"
                  *ngFor="let d of nodes"
                  [attr.transform]="'rotate(25,'+ d.x +','+ d.y +')'"
                  [attr.x]="d.x+10"
                  [attr.y]="d.y">
                    {{ d.name.replace("Pathway","") }}
                </svg:text>

              </fullscreenable-svg>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tabular View</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>
                Solution
              </th>
              <th>
                Active
              </th>
              <th>
                Deactive
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let n of filterSolution(nodes)" (click)="highlight(n)">
              <th>{{ n.name }}</th>
              <th>{{ getParentByActivation(n,true) | json }}</th>
              <th>{{ getParentByActivation(n,false) | json }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Filter</h3>
        </div>
        <div class="panel-body">
          <div class="form-group" *ngFor="let k of subsystemNameActivation | keys">
            <label>{{k}}</label>
            <select class="form-control"
              [(ngModel)]="subsystemNameActivation[k]"
              (ngModelChange)="activationChange(k, $event)">
                <option [ngValue]="0">Active</option>
                <option [ngValue]="1">Passive</option>
                <option [ngValue]="2">Don't Care</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
