.link {
  fill: none;
  stroke-width: 5px;
}
.node{
  fill:white;
  stroke-width:3px;
  r:5;
}
.highlight {
    fill: pink;
    r: 30px;
}
.highlight-link {
    stroke: pink;
    stroke-width: 50px;
}
