<section id="past-analysis" class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-default" (click)="submit()">
      Compare
    </button>
		<form [formGroup]="form">
			<div class="panel panel-default" *ngFor="let t of data | keys">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let i of data[t]">
            <input type="checkbox" [formControlName]="i.id" />
            <i class="glyphicon glyphicon-{{i.status ?  'saved' : 'time' }}"></i>
            <a [routerLink]="['/panel/past-analysis', i.id]">
							{{i.name}} - ({{i.status ?  'done' : 'running' }})
            </a>
          </li>
        </ul>
			</div>
		</form>
  </div>
</section>
