<section id="past-analysis">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default" (click)="submit()">
          Compare
        </button>
        <div class="panel panel-default">
            <ul class="list-group" [formGroup]="form">
              <li class="list-group-item" *ngFor="let i of data">
                <input type="checkbox" [formControlName]="i.id" />
                <i class="glyphicon glyphicon-{{i.status ?  'saved' : 'time' }}"></i>
                <a [routerLink]="['/panel/past-analysis', i.id]">
                 {{i.name}} - ({{i.status ?  'done' : 'running' }})
                </a>
              </li>
            </ul>
        </div>

      </div>
    </div>
  </div>
</section>
