<section class="reactionDetails">


  <div *ngIf="reaction" class="reactionDetailsChild col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <strong>{{reaction.name}}</strong>
        </h3>
      </div>
      <div class="panel-body">
        <p *ngIf="reaction.id ">
          id: {{reaction.id}}
        </p>
        <p *ngIf="reaction.name">
          name: {{reaction.name}}
        </p>
         <p *ngIf="reaction.lower_bound<0 && reaction.upper_bound>0">
          reversible: True
        </p>
        <p >
         reversible: False
       </p>
        <p *ngIf="reaction.subsystem">
          subsystem: {{reaction.subsystem}}
        </p>
        <p *ngIf="reaction.upper_bound">
          upper_bound: {{reaction.upper_bound}}
        </p>
        <p *ngIf="reaction.lower_bound == 0">
          lower_bound: {{reaction.lower_bound}}
        </p>
        <p *ngIf="reaction.lower_bound">
          lower_bound: {{reaction.lower_bound}}
        </p>
        <br>
        <h4 *ngIf="relatedMetabolites">
          <chemical-equation [metabolites]="reaction.formula" [selectedMetabolite]="{}"></chemical-equation>
        </h4>

        <div class="row">
          <div class="col-md-12">
            <!-- <visualization [nodes]="nodes" [links]="links"></visualization> -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="map_container_3"></div>
          </div>
        </div>

        <div>
          <br>
          <h4>
            <strong>Connected Reactions</strong>
          </h4>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <strong>Metabolite</strong>
                </td>
                <td>
                  <strong>Reactions</strong>
                </td>
              </tr>

              <tr *ngFor="let item of relatedMetabolites">
                <td>
                  <a [routerLink]="['/metabolite', item.id]">
                    {{item.id}}
                  </a>
                </td>
                <td>
                  <span *ngFor="let item2 of relatedReaction; let i=index">
                    <!-- {{(0!=count)? ", " : ""}} -->
                    <a [routerLink]="['/reaction', item2]" *ngIf="i<10">
                      {{item2}}
                    </a>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>
