<fullscreenable-svg (window:resize)="onResize()" [(isFullScreen)]="fullScreen" (isFullScreenChange)="onFullScreenChange(fullScreen)">
  <svg:g [attr.transform]="'translate('+ translate +')scale('+ scale +')'">
    <svg:line class="link" *ngFor="let l of d3links"
      [attr.x1]="l.source.x"
      [attr.y1]="l.source.y"
      [attr.x2]="l.target.x"
      [attr.y2]="l.target.y"/>
    <svg:circle class="metabolite" r="10" *ngFor="let d of metabolites"
      [attr.cx]="d.x"
      [attr.cy]="d.y"
      [attr.fill]="d.color"/>
    <svg:rect class="reaction" width="20" height="20" *ngFor="let d of reactions"
      [attr.x]="d.x - 10"
      [attr.y]="d.y - 10"
      [attr.fill]="d.color"/>
    <svg:text class="text" *ngFor="let d of d3nodes"
      [attr.x]="d.x - 8"
      [attr.y]="d.y + 5">{{ d.iteration }}</svg:text>
    <svg:text class="text" *ngFor="let d of d3nodes"
      [attr.x]="d.x - 15"
      [attr.y]="d.y - 15">{{ d.name }}</svg:text>
  </svg:g>
</fullscreenable-svg>
<ng-content></ng-content>
