<simple-notifications [options]="notificationOptions"></simple-notifications>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" id="logo"  [routerLink]="['search']">
        <img src="assets/img/logo.png" alt=""/>
        <span>
          Metabolitics - 0.0.5
        </span>
      </a>
    </div>
    <div class="nav navbar-nav navbar-right">
      <button md-button *ngIf="loginService.isLoggedIn()" [routerLink]="['analyze']">
	Analyze
      </button>
      <md-menu #searchMenu="mdMenu">
	<button md-menu-item [routerLink]="['search']">Search Metabolites-Reactions</button>
	<button md-menu-item [routerLink]="['search-analysis']">Search Metabolomics Analysis</button>
      </md-menu>
      <button md-button [mdMenuTriggerFor]="searchMenu">
	Search
      </button>
      <button md-button [routerLink]="['documentation']">
	Documentation
      </button>
      <md-menu #browseMenu="mdMenu">
	<button md-menu-item [routerLink]="['subsystem']">Browse Pathways</button>
	<button md-menu-item  [routerLink]="['past-analysis']">Browse Analysis</button>
      </md-menu>
      <button md-button [mdMenuTriggerFor]="browseMenu">
	Browse
      </button>
      <button md-button>
	Contact
      </button>
      <button md-button [routerLink]="['login']" *ngIf="!loginService.isLoggedIn()">
	Login
      </button>
      <button md-button [routerLink]="['panel']" *ngIf="loginService.isLoggedIn()">
	Control Panel
      </button>
      <button md-button (click)="loginService.logout()" [routerLink]="['panel']" *ngIf="loginService.isLoggedIn()">
	Logout
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
