<svg [class.small-size]="!isFullScreen" [class.full-screen]="isFullScreen">
  <svg:g [attr.transform]="'translate('+ translate +')scale('+ scale +')'">
    <ng-content></ng-content>
  </svg:g>
</svg>
<button id="resize-full" class="btn btn-default" (click)="toggleFullScreen()" [style.position]="isFullScreen ? 'fixed' :'absolute'">
  <span *ngIf="!isFullScreen" class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
  <span *ngIf="isFullScreen" class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
</button>
