<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">{{ data?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <accordion [title]="'Dataset'">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Metabolite Name</th>
              <th>Change</th>
              <th>Exact Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of data?.concentrationChanges;">
              <td>{{ c.name }}</td>
              <td>{{ change[c.change] }}</td>
              <td>{{ c.value || '-' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </accordion>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <saved-result (nextIteration)="nextIteration($event)"></saved-result>
  </div>
</div>
