<fullscreenable-svg>

  <svg:path class="link highlight-link"
    *ngFor="let l of filterHighlightLink(links)"
    [attr.d]="diagonal(l)"/>

  <svg:circle class="highlight"
    *ngFor="let d of filterHighlight(nodes)"
    [attr.cx]="d.x"
    [attr.cy]="d.y"/>

  <svg:path class="link"
    *ngFor="let l of links"
    [style.stroke]="linkColor(l.target)"
    [attr.d]="diagonal(l)"/>

  <svg:circle class="node"
    *ngFor="let d of nodes"
    [style.stroke]="nodeColor(d)"
    [attr.cx]="d.x"
    [attr.cy]="d.y"/>

  <svg:text class="text" y="100"
    *ngFor="let d of nodes"
    [attr.transform]="'rotate(25,'+ d.x +','+ d.y +')'"
    [attr.x]="d.x+10"
    [attr.y]="d.y">
      {{ d.name.replace("Pathway","") }}
  </svg:text>

</fullscreenable-svg>
